.board{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 0;
}

app-boxes {
    background-color: tomato;
    height: 200px;
    outline: 1px solid black;
}

.helpers{
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;
    width: 600px;
}