.board{
    background-color: rebeccapurple;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 0;
}

.box{
    background-color: tomato;
    outline: 1px solid black;
}