<h2 class="game-over-msg"*ngIf="winner && winner != 'D'">Player with '<span>{{winner}}</span>' won the game</h2>
<h2  class="game-over-msg" *ngIf="winner === 'D'">It's a Draw Play Again</h2>
<div class="helpers">
    <div class="current-player" *ngIf="!winner">
        Current Turn - <span class="currp" >{{currentPlayer}}</span>
    </div>
    <div class="newGame">
        <button (click)="newGame()">Start a New Game</button>
    </div>
</div>
<div class="board">
    <app-boxes 
    *ngFor="let box of boxes; let i = index"
    [value] = "box"
    (click) = "doMove(i)"
    ></app-boxes>
</div>